extends layout

block content
  .profile-container
    h1 My Profile
    .profile-card
      .avatar JD
      table.detail-table
        tr
          th Name
          td John Doe
        tr
          th Email
          td johndoe@example.com
        tr
          th Member Since
          td January 2023
        tr
          th Orders
          td 12
